version: 2
jobs:
  build_latest:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.03.0-ce
          docker_layer_caching: true
      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: docker build -t afridlund85/a-hall:latest .
      - run: docker push afridlund85/a-hall:latest

workflows:
  version: 2
  build:
    jobs:
      - build_latest:
          filters:
            branches:
              only: master
